DEBUG
RELEASE
.vs

Assets
Textures
Sounds
Music
Animations
Fonts
Logs
Build
ThirdParty
Bin/Save
Bin/LICENSE*
Bin/Textures
Bin/Icon*

CHANGES.txt
TODO

*.swp
*~
*.cur
*.wav
*.ico
*.aps
*.exe
*.obj
*.pdb
*.plg
*.dsp
*.dsw
*.ncb
*.opt
*.bmp
*.wav
*.ilk
*.ttf
*.dll
*.zip
*.rar
